# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# waf
.lock*
.build
.waf*

# editors
.vscode

# js
node_modules
dist
yarn-error.log

# build artifacts
www/vizgl-wrapper.js
www/vizgl.js
www/vizgl.wasm
www/app.bundle.js
www/index.html
www/cube.ico

src/vendor
